<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/adminPanelStyles.css">
  <title>Admin Panel | Update User Role</title>
</head>
<body>

  <div class="admin-panel">
    <h2>Update User Role</h2>
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>
                <form action="/update/{{this.id}}" method="POST">
                <select name="user_type">
                  <option value="{{this.user_type}}" hidden="hidden" selected="selected">{{this.user_type}}</option>
                  <option value="DEFAULT">DEFAULT</option>
                  <option value="ADMIN">ADMIN</option>
                </select>
                <br>
                <td>
                  <button type="submit" class="update-user">Update</button>
                </td>
                </form>
              </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <form action="/home" method="GET">
      <button type="submit" class="back">Back</button>
    </form>

  </div>

</body>
</html>
